:root{
  --primary:'#845EC2'
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(180 197 180);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(128 172 128);
}

html,
body {
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
}
