::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

::selection {
  color: white;
  background-color: #26b988b6;
}

html,
body,#nuxt-root {
  height: 100%;
}

html{
  scroll-behavior: smooth;
  line-height: 1.75;
}

pre,code{
  font-family: "Source Code Pro", ui-monospace, monospace;
}