.prose {
  /* var */

  --common-transition: all 0.3s ease;
  --common-rd: 0.25em;
  --common-bg: #69a79429;

  /* headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;

    &::before {
      position: absolute;
      margin-left: -1em;
      content: '#';
      opacity: 0;
      transition: var(--common-transition);
    }

    &:hover::before {
      opacity: 1;
    }
  }

  h1 {
    font-size: 2.25em;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.75em;
    line-height: 1.225;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.43;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 1em;
  }

  /* list */
  ul:not(.contains-task-list),
  ol {
    padding-left: 2em;
  }

  ul:not(.contains-task-list) {
    list-style: disc;
  }

  ol {
    list-style-type: decimal;
  }

  /* p */
  p {
    margin: 1.2em 0;
  }

  /* anchor */

  :not(h1, h2, h3, h4, h5, h6, sup) > a {
    text-decoration: underline dashed #dad7cd;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.3em;
    transition: var(--common-transition);

    &:hover {
      text-decoration-color: currentcolor;
    }
  }

  /* code */
  > pre {
    padding: 0.5em 0.7em;
    margin: 0.5em 0;
    overflow-x: auto;
    background-color: var(--common-bg);
    border-radius: var(--common-rd);

    .line {
      display: block;
      min-height: 1em;
    }
  }

  :not(pre)code {
    font-weight: bold;
    border-radius: var(--common-rd);

    &::before,
    &::after {
      content: '`';
    }
  }

  /* blockquote */
  blockquote {
    padding-left: 1.2em;
    font-style: italic;
    border-color: var(--common-bg);
    border-left-width: 0.25em;

    &::after {
      top: 100%;
      left: 0;
      width: 100px;
      height: 100px;
      content: '1111';
    }
  }

  /* hr */
  hr {
    width: 200px;
    margin: 2.5em auto;
    border-color: currentcolor;
    border-top-style: dashed;
    opacity: 0.5;
  }

  /* img */
  img {
    position: relative;
    margin: 0 auto;
    border-radius: var(--common-rd);
  }

  /* Table */
  table {
    width: 100%;

    th,
    tr {
      text-align: center;
    }

    thead {
      background-color: var(--common-bg);
    }

    tr:nth-child(even) {
      background-color: var(--common-bg);
    }
  }

  /* other */
  sup {
    padding: 0 0.3em;
  }
}
